.navbar-default {
  background: transparent; }

.page-content-wrapper {
  padding: 0; }

.homepage-hero-module {
  max-height: 600px; }

.video-heading {
  position: relative;
  top: 30%; }

.video-heading h1 {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  text-align: center;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  display: table;
  margin: 0 auto;
  padding: 3% 0;
  font-size: 40px;
  text-transform: upperportfolio;
  text-shadow: 0 0 10px #111; }

.video-heading h4 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 10px #111; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif; }

/*Sidebar*/
.sidebar-nav .menu {
  padding: 0;
  margin: 0; }

.sidebar-nav .menu li {
  padding: 0;
  list-style: none; }

.sidebar-nav .sidebar-brand li:first-child {
  border: none; }

.sidebar-nav li {
  border-top: 1px solid #ccc; }

.sidebar-nav li a {
  color: #111;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.sidebar-nav li a:hover {
  color: #fff;
  background: #363E58; }

/*My Work*/
.work-container {
  background: #111; }

#my-work h2 {
  text-align: center;
  /*padding:2% 0 1% 0;*/
  /*border-bottom:3px solid #111;*/
  /*display:table;*/
  padding: 1%;
  background: #111;
  color: #fff;
  margin: 0 auto; }

.portfolio-item {
  /*margin-bottom:2%;*/
  padding: 0;
  overflow: hidden; }

.portfolio-item img {
  width: 100%; }

.portfolio-item img {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.portfolio-item img:hover {
  opacity: 0.8; }

.portfolio-item h4 {
  text-align: center; }

.portfolio-btn {
  color: #fff;
  /*border:solid 2px $purple;*/
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.portfolio-btn:hover {
  /*background:$purple;*/
  color: #666 !important;
  text-decoration: none; }

.portfolio-btn:focus {
  color: #fff; }

.portfolio-btn:visited {
  color: #fff; }

/*Portfolio single*/
.header-banner {
  padding: 5% 0; }

.header-banner h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #111; }

.container-fluid.site-content {
  padding: 5% 0; }

.portfolio-sub-heading {
  text-align: center;
  border-bottom: 3px solid #111;
  display: table;
  margin: 0 auto; }

.portfolio-list {
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%; }

.portfolio-list li {
  padding-bottom: 2%;
  font-size: 16px; }

.website-link {
  border: solid 3px #111;
  background: transparent;
  padding: 2% 4%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #111;
  font-weight: bold;
  font-size: 16px; }

.website-link:hover {
  color: #fff !important;
  background: #111;
  text-decoration: none; }

.website-link:visited {
  color: #111; }

/*About*/
.about {
  background: #999;
  text-align: center;
  color: #363E58;
  padding: 3% 0; }

.about h2, .skills h2, .contact h2 {
  text-align: center;
  padding: 1% 0;
  border-top: solid 3px #363E58;
  border-bottom: solid 3px #363E58;
  display: table;
  margin: 0 auto;
  color: #363E58;
  margin-bottom: 2%; }

.about p {
  font-size: 18px;
  width: 70%;
  margin: 2% auto;
  font-weight: bold;
  line-height: 36px; }

/*Skills*/
.skills {
  padding: 3% 0; }

.progress-bar {
  width: 0%;
  font-size: 24px;
  font-weight: bold;
  background-color: #363E58;
  -webkit-transition: all ease-in 1s;
  -moz-transition: all ease-in 1s;
  transition: all ease-in 1s; }

.progress-fill {
  width: 90%; }

.progress-seven {
  width: 70%; }

.progress-six {
  width: 60%; }

/*Contact*/
.contact {
  padding: 3% 5%;
  background: #111; }

.ninja-forms-required-items {
  display: none !important; }

.contact h2 {
  color: #fff;
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff; }

.contact p {
  color: #fff !important;
  font-size: 25px;
  text-align: center; }

label {
  color: #fff; }

button, input[type="button"], input[type="submit"] {
  background: #363E58;
  color: #fff;
  border: solid 1px #111;
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0 0 0 !important;
  border: solid 2px #fff;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in; }

input[type="submit"]:hover {
  background: #111 !important;
  color: #fff;
  filter: none !important;
  background-image: none !important;
  box-shadow: 0 0 0 !important; }

/*Footer*/
.site-footer {
  text-align: center;
  background: #363E58;
  padding: 3% 0;
  color: #fff; }

.site-footer a {
  color: #fff; }
