.navbar-default {
  background: transparent; }

.page-content-wrapper {
  padding: 0; }

.homepage-hero-module {
  max-height: 600px; }

.video-heading {
  position: relative;
  top: 30%; }

.video-heading h1 {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  text-align: center;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  display: table;
  margin: 0 auto;
  padding: 3% 0;
  font-size: 40px;
  text-transform: uppercase; }

.video-heading h4 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 20px; }
